body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > a {
  text-decoration: none;
}

.content > * {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 4px;
}
